<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
  <body>
    <h1>Welcome to My Awesome Site</h1>
    
    <div>
      <p>
        Hello, <%= @user.email %>
      </p>
      <p>
        You need to confirm your email account. <br>
        Please, visit this <%= link_to "link", @url %>.
      </p>
    </div>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</body>
</html>