<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
  <body>
    <h1>Welcome to example.com, <%= @user %></h1>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</body>
</html>