<section class="m-10 p-5">
  <h1 class="main-title">Articles</h1>

  <% @articles.each do |article| %>
    <div class="my-10 p-10 rounded border border-blue-200 flex flex-col">
      <div>
        <span class="font-bold text-2xl">
          <%= article.name %> <br>
        </span>
        <span class="text-sm">
          <%= article.description %> <br>
        </span>
      </div>

      <span class="my-3">
        <%= link_to "See more...", article_path(article), class: "btn-primary bg-blue-700" %>
      </span>
    </div>
  <% end %>
</section>