<section class="w-full max-w-5xl mx-auto p-10 flex flex-col items-center">
  <h1 class="main-title">Rails App</h1>

  <div class="w-full">
    <%= image_tag "devops.png" %>
  </div>

  <div class="p-10 text-center">
    Veniam officia consequat cillum ullamco sint irure sit ex et Lorem non sint aute. Fugiat culpa amet duis ea velit sint excepteur sint ea ut. Deserunt excepteur consequat eu magna eiusmod.

    Culpa cupidatat excepteur elit ad. Cillum labore cupidatat occaecat do quis esse reprehenderit duis non consectetur. Nulla sunt cillum veniam aute quis eu velit. Ex exercitation incididunt quis consequat non magna ex culpa nisi amet ex laboris veniam pariatur. Magna labore eiusmod nisi cillum exercitation ullamco fugiat dolor occaecat et tempor ea. Incididunt velit aliquip in sint tempor reprehenderit cillum nisi mollit anim nisi proident adipisicing.

    Duis irure sit labore labore voluptate dolor adipisicing esse aliqua irure adipisicing duis. Reprehenderit incididunt adipisicing ea ut enim adipisicing duis labore aliqua aute. In non ullamco consectetur elit aliquip velit do culpa.

    Magna elit reprehenderit nulla nulla deserunt anim veniam ipsum pariatur est in. Voluptate culpa mollit officia laboris exercitation aliquip sint sunt amet irure ad exercitation nostrud ad. Ea irure aliqua laborum nisi do consequat quis cupidatat sit non.

    Sunt nostrud commodo sint sunt mollit aute qui sunt nulla. Ea enim est magna eu veniam enim fugiat culpa laborum ullamco eu quis amet. Amet commodo eu consectetur est in qui voluptate proident. Duis anim irure ullamco tempor culpa amet. Consequat adipisicing magna cupidatat voluptate nisi aute deserunt dolor id ex magna.
  </div>
</section>